@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Neue+Haas+Grotesk:wght@300;400;500;700&display=swap');

@import "tailwindcss";

@theme {
  --font-grotesque: "Darker Grotesque", sans-serif;
  --font-inter: "Inter", sans-serif;
}


/* Apply Fonts Using Tailwind */
.font-grotesque {
  font-family: var(--font-grotesque);
}

.font-inter {
  font-family: var(--font-inter);
}

body {
    font-family: 'DM Sans', sans-serif;
}

.PREBIOTIC {
    font-family: "Darker Grotesque", "sans-serif";

}


.Grotesque-Neue {
  font-family: 'Neue Haas Grotesk Display', sans-serif;

}



@font-face {
  font-family: 'Neue Haas Display bold';
  src: url('/src/assets/fonts/NeueHaasDisplayBold.ttf') format('truetype');
  font-weight: 500; /* Adjust weight as needed */
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Display normal';
  src: url('/src/assets/fonts/NeueHaasDisplayLight.ttf') format('truetype');
  font-weight: 400; /* Adjust weight as needed */
  font-style: normal;
}


@font-face {
  font-family: 'Neue Haas Display medium';
  src: url('/src/assets/fonts/NeueHaasDisplayMediu.ttf') format('truetype');
  font-weight: 400; /* Adjust weight as needed */
  font-style: normal;
}



@font-face {
  font-family: 'PP Pangram Sans Regular';
  src: url('/src/assets/fonts/ppsans/Pangram-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PP Pangram Sans Medium';
  src: url('/src/assets/fonts/ppsans/Pangram-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PP Pangram Sans Bold';
  src: url('/src/assets/fonts/ppsans/Pangram-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* font-family: 'Darker Grotesque'; */

@font-face {
  font-family: 'Darker Grotesque';
  src: url('/src/assets/fonts/grotesque/DarkerGrotesque-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('/src/assets/fonts/grotesque/DarkerGrotesque-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('/src/assets/fonts/grotesque/DarkerGrotesque-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('/src/assets/fonts/grotesque/DarkerGrotesque-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('/src/assets/fonts/grotesque/DarkerGrotesque-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('/src/assets/fonts/grotesque/DarkerGrotesque-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}


/* Define Font Variable in Tailwind v4 */
@theme {
  --font-neue-haas-medium: "Neue Haas Display Medium", sans-serif;
  --font-neue-haas-bold: "Neue Haas Display Bold", sans-serif;
  --font-neue-haas-normal: "Neue Haas Display Normal", sans-serif;
  --font-pangram-Medium: "PP Pangram Sans", sans-serif;
  --font-pangram-Regular: "PP Pangram Sans", sans-serif;
  --font-pangram-Bold: "PP Pangram Sans", sans-serif;



}

@theme {
  --font-grotesque-light: "Darker Grotesque", sans-serif;
  --font-grotesque-regular: "Darker Grotesque", sans-serif;
  --font-grotesque-medium: "Darker Grotesque", sans-serif;
  --font-grotesque-semibold: "Darker Grotesque", sans-serif;
  --font-grotesque-bold: "Darker Grotesque", sans-serif;
  --font-grotesque-extrabold: "Darker Grotesque", sans-serif;
}


.font-grotesque-light {
  font-family: var(--font-grotesque-light);
  font-weight: 300;
}

.font-grotesque-regular {
  font-family: var(--font-grotesque-regular);
  font-weight: 400;
}

.font-grotesque-medium {
  font-family: var(--font-grotesque-medium);
  font-weight: 500;
}

.font-grotesque-semibold {
  font-family: var(--font-grotesque-semibold);
  font-weight: 600;
}

.font-grotesque-bold {
  font-family: var(--font-grotesque-bold);
  font-weight: 700;
}

.font-grotesque-extrabold {
  font-family: var(--font-grotesque-extrabold);
  font-weight: 800;
}




/* Create a Custom Utility Class */
.neue-haas-bold {
  font-family: var(--font-neue-haas-bold);
}

.neue-haas-normal {
  font-family: var(--font-neue-haas-normal);
}

.neue-haas-medium {
  font-family: var(--font-neue-haas-medium);
}


.pp-sans-bold {
  font-family: var(--font-pangram-Medium);
}

.pp-sans-regular {
  font-family: var(--font-pangram-Regular);
}

.pp-sans-medium {
  font-family: var(--font-pangram-Bold);
}



/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  

  @theme {
    --text-4xl: 2.70rem; /* 36px */
    --text-4xl--line-height: 1.1111; /* Default calculation */
    --text-4xlpr: 2.09rem; /* 36px */
    --text-4xlpr--line-height: 1.1111; /* Default calculation */
  }
  .text-4custom {
    font-size: var(--text-4xl) /* 2.25rem = 36px */;
    line-height: var(--tw-leading, var(--text-4xl--line-height) /* calc(2.5 / 2.25) ≈ 1.1111 */);
}


.text-provenresult {

  font-size: var(--text-4xlpr) /* 2.25rem = 36px */;
  line-height: var(--tw-leading, var(--text-4xlpr--line-height) /* calc(2.5 / 2.25) ≈ 1.1111 */);

}